---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Astro Learning Blog";
const tempPosts = import.meta.glob("../pages/posts/*.md", { eager: true });
const allPosts = Object.values(tempPosts).map((post) => {
  return {
    url: post.url,
    frontmatter: post.frontmatter,
  };
});
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
